---
name: Label Checker
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - unlabeled

jobs:

  check_labels:
    name: Check labels
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: docker://onsdigital/github-pr-label-checker:v1.6.13
        with:
          one_of: breaking change,feature,patch
          none_of: do not merge,work in progress
          repo_token: ${{ secrets.GITHUB_TOKEN }}
